@import"./variables/variables";

#logo{
    height: 24vh;
    margin-top: 4vh;
    margin-left: -75vw;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #red-bar{
    background-color: $primaryRed;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 15vh;
    width: 95vw;
    outline-color: $gold;
    outline-width: 4px;
    }
    #grey-bar{
        background-color: $blue;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        height: 9vh;
        width:90vw
    }
};
.panel{
    margin-top: 7vw;
    margin-left: 10px;
    width: 25vw;
    margin-bottom: 70px;
    background-color: white;
    .panel-block{
        height: 70vh
        input{
            margin-top: 8px;
        }
        span{
            margin-top: 0px;
        }
        a{
            margin-bottom:4px
        }
    }
    #sort{
        overflow-y: scroll;
        height: 50vh;
    }
}
#display{
    font-family: 'Chakra Petch', sans-serif;
    margin-top: 7vw;
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
    article{
        margin-top: 4vh;
        #infoCard{
            #info{
                max-height: 550px;
            min-height: 550px;
            max-width: 550px;
            min-width: 550px;
            margin-left: 0vw;
            margin-right: 0vw;
            }
            #imageDisplay{
                max-height: 400px;
                min-height: 400px;
                max-width: 400px !important;
                min-width: 400px;
                margin-left: 5vw;
                margin-right: 5vw;
                .card{
                    position: relative;
                    height: 50%;
                    .card-image{
                        height: 50%;
                        width: 50%;
                        position: absolute;
                    }
                    img{
                        width: 200px;
                        height: 200px;
                        max-width: 200px;
                        max-height: 200px;
                    }
                }
            }
        }
    }
    .tile.is-ancestor{
        margin-left: 2vw;
        width: 60vw;
    }
    #dexTabs{
        margin-left: -.05vw;
        margin-right: 9vw;
        margin-bottom: .05vw
    }
    
};
div{
    .box{
        z-index: 0;
        background-color: hsl(0, 0%, 93%);
    }
}
#formsTabs{
    overflow-x: scroll;
}


//types
.normal{
    background-color: $normal;
    outline-color: $normal
};
.fire{
    background-color: $fire
};
.water{
    background-color: $water
};
.electric{
    background-color: $electric
};
.grass{
    background-color: $grass
};
.ice{
    background-color: $ice
};
.fighting{
    background-color: $fighting
};
.poison{
    background-color: $poison
};
.ground{
    background-color: $ground
};
.flying{
    background-color: $flying
};
.psychic{
    background-color: $psychic
};
.bug{
    background-color: $bug
};
.rock{
    background-color: $rock
};
.ghost{
    background-color: $ghost
};
.dragon{
    background-color: $dragon
};
.dark{
    background-color: $dark
};
.steel{
    background-color: $steel
};
.fairy{
    background-color: $fairy
};

.blue{
    background-color: $blue;
};
.yellow{
    background-color: $yellow;
}
.red{
    background-color: $primaryRed;
}